# Tuples

### tuples are nothing but immutable list, i.e once created then we can not modify its elements

In [4]:
my_tuple = (20, 50, 200, 10, 700, 420, 1250)

In [5]:
print(my_tuple)

(20, 50, 200, 10, 700, 420, 1250)

In [6]:
type(my_tuple)

tuple

In [7]:
# trying to modify 2nd element of a tuple
my_tuple[1] = 100 # so tuple doesnt allow us to change its elements

TypeError: 'tuple' object does not support item assignment

In [13]:
my_tuple.append(1000) # we can not add any element to the tuple

AttributeError: 'tuple' object has no attribute 'append'

### To modify tuple elements we first need to convert into list and then we can modify its elements.

In [8]:
my_tuple_list = list(my_tuple)

In [9]:
print(my_tuple_list)

[20, 50, 200, 10, 700, 420, 1250]

In [10]:
type(my_tuple_list)

list

In [11]:
my_tuple_list[1] = 100

In [12]:
print(my_tuple_list)

[20, 100, 200, 10, 700, 420, 1250]

### tuple count()

In [14]:
my_tuple.count(20) # counts the frequency of elements inside the tuple

1

### tuple index()

In [15]:
my_tuple.index(700) # retrieves the index of element in the tuple

4

In [16]:
len(my_tuple) # retrieves the length of element

7

In [17]:
max(my_tuple) # retrieves the biggest element

1250

In [18]:
min(my_tuple) # retrieves the smallest element

10

In [19]:
sum(my_tuple) # retrieves the sum of all the elements

2650

In [20]:
my_tuple.sort() # a tuple can not be sorted

AttributeError: 'tuple' object has no attribute 'sort'

## Difference between a tuple and list


1. lists are **mutable** i.e can be changed but tuples are **immuatble** i.e can not be changed. 
2. lists are initialized by __[ ]__ and tuples are initialized by __( )__. 
3. lists can be **sorted or appended** wheras tuples can not be.

## Similarity between a tuple and list

1. **index()** and **count()** are the only 2 common functions in both lists and tuples.

# Sets

In [21]:
my_set = {20, 60, 77, 99, 20, 300, 500, 77} # sets do not allow duplicate elements

In [22]:
print(my_set)

{99, 300, 77, 20, 500, 60}

In [23]:
type(my_set)

set

## Difference between a tuple and set


1. A tuple allows **duplicate elements** whereas as a set doesnt allow.
2. We can **add** elements to a set but not to a tuple.
3. A tuple is initialized by paranthesis __()__ and a set is initialized by flower brackets __{ }__.
4. We can find an **index** of a element in a tuple but we can not in a set.
5. We can **count the frequency** of elements in a tuple but we can not in a set.

In [29]:
my_set.count(77)

AttributeError: 'set' object has no attribute 'count'

In [28]:
my_set.index(77)

AttributeError: 'set' object has no attribute 'index'

# Data type Conversions

## Converting a set into a list

In [30]:
my_set_list = list(my_set)

In [31]:
print(my_set_list)

[99, 300, 77, 20, 500, 60]

In [34]:
type(my_set_list)

list

## Converting a set into a tuple

In [32]:
my_set_tuple = tuple(my_set)

In [33]:
print(my_set_tuple)

(99, 300, 77, 20, 500, 60)

In [35]:
type(my_set_tuple)

tuple

## Converting a tuple into a set

In [36]:
my_tuple_set = set(my_tuple)

In [37]:
print(my_tuple_set)

{1250, 420, 200, 10, 50, 20, 700}

In [38]:
type(my_tuple_set)

set

# Converting a list into a set

In [40]:
my_list = [12, 24, 12, 24, 76, 300, 45, 24]

In [41]:
my_list_set = set(my_list)

In [42]:
print(my_list_set)

{12, 45, 300, 76, 24}

In [43]:
type(my_list_set)

set

# Set Functions

### 1. set add()

In [45]:
my_set.add(1000) # adding or appending an element to a set

In [46]:
my_set

{20, 60, 77, 99, 300, 500, 1000}

In [47]:
my_set.add(1000) # can not add duplicates, i.e cant add the elements which already exists in the set

In [48]:
my_set

{20, 60, 77, 99, 300, 500, 1000}

### 2. set copy()

In [49]:
copied_set = my_set.copy() # A set can be copied into another set

In [50]:
copied_set

{20, 60, 77, 99, 300, 500, 1000}

### 3. set difference()

In [56]:
# Creating a set 2
my_set_2 = {77, 1000, 500, 22}

In [57]:
# this would give us my_set - my_set_2. i.e all th elements which are there in my_set but not in my_set_2
my_set.difference(my_set_2)

{20, 60, 99, 300}

In [58]:
my_set_2.difference(my_set) # retrieves elements which are there in my_set_2 and not in my_set

{22}

### 4. set difference update()

In [60]:
# it first finds the difference between my_set and my_set_2 and assigns the result, i.e difference to my_set
my_set.difference_update(my_set_2)

In [61]:
print(my_set)

{99, 300, 20, 60}

### 5. set discard()

In [62]:
my_set.discard(300) # it removes that particular element from the set

In [63]:
my_set

{20, 60, 99}

### 6. set interaction()

In [64]:
my_set_A = {99, 60, 12, 67}

In [67]:
my_set_B = {60, 33, 88}

In [65]:
my_set.intersection(my_set_A) # retrieves only the common elements present in both the sets

{60, 99}

In [68]:
my_set.intersection(my_set_A, my_set_B) # when you have multiple sets

{60}

### 7. set intersection_update()

In [69]:
my_set.intersection_update(my_set_B) # it updates the common elements from both the set to the 1st set.

In [70]:
my_set

{60}

### 8. set isdisjoint()

In [71]:
my_set.isdisjoint(my_set_B) # if there are no common elements in both the sets then its true else false

False

### 9. set issubset()

In [72]:
my_set.issubset(my_set_A) # returns true if a set is subset of another set.

True

### 10. set symmetric_difference()

In [74]:
my_set_A.symmetric_difference(my_set_B) # retrieves elements from both the sets which are not common

{12, 33, 67, 88, 99}

### 11. set symmetric_difference_update()

In [75]:
my_set_A.symmetric_difference_update(my_set_B)

In [76]:
print(my_set_A) # the difference between two sets are assigned to the first set, in this case its assigned to my_set_A

{33, 67, 99, 12, 88}

### 12. set clear()

In [77]:
my_set_A.clear() # removes all the element at once

In [78]:
print(my_set_A)

set()

# Difference between a list and set 


1. A list can have **duplicate values** whereas a set can not.
2. A list is initialized by square brackets __[ ]__ and a set is initialized by flower brackets __{ }__.
3. A list can be **indexed** but set can not be. 
4. We can **count the frequency** of element in a list but not in a set.
5. A list can be **sorted** but a set can not.
6. A list uses __remove()__ to delete an element whereas set uses __discard()__.

# Similarity between list and set


1. Both list and set uses __clear()__ to delete all the elements at once.
2. Both list and set uses __copy()__ to copy its elements into another.