## List

In [34]:
my_list = [1,"apple", 3, "orange", 175, 999, -25]

In [38]:
print(my_list)

[1, 'apple', 3, 'orange', 175, 999, -25]

In [39]:
type(my_list)

list

## List Slicing

In [40]:
#Retrieving 1st element i.e 0 index
my_list[0]

1

In [5]:
#Retrieving 4th element i.e 3rd index
my_list[3]

'orange'

In [6]:
#Retrieving last element i.e -1 index
my_list[-1]

-25

In [7]:
#other way to retrieve last element
my_list[len(my_list)-1]

-25

In [8]:
#retrieving 1st 5 elements i.e 0 to 5
my_list[0:5]

[1, 'apple', 3, 'orange', 175]

In [9]:
#retrieving random sequence of elements
my_list[3:6] # it would result in 4th,5th, and 6th element

['orange', 175, 999]

## Manipulating lists

In [11]:
# change the 4th element to banana
my_list[3] = "banana"

In [12]:
print(my_list)

[1, 'apple', 3, 'banana', 175, 999, -25]

In [13]:
# Change sequence of elements at once
my_list[3:] = [50, 100, "mango"]

In [14]:
print(my_list)

[1, 'apple', 3, 50, 100, 'mango']

### 1. List append()

In [41]:
my_list.append(30)

In [42]:
my_list

[1, 'apple', 3, 'orange', 175, 999, -25, 30]

In [43]:
#creating 2nd list
my_list_2 = ['a', 20.2, 99,"string", 60, 50, 25]
my_list_2

['a', 20.2, 99, 'string', 60, 50, 25]

### 2. List extend()

In [44]:
#joining list-2 to list-1
my_list.extend(my_list_2)

In [66]:
print(my_list)

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 175, 'orange', 3, 'apple', 1]

### 3. List count()

In [48]:
my_list.append('apple')

In [49]:
# Count of apples in the list
my_list.count('apple')

2

In [52]:
# Number of elements in the list
len(my_list)

16

### 4. List reverse()

In [54]:
my_list.reverse()

In [65]:
print(my_list)

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 175, 'orange', 3, 'apple', 1]

### 5. List insert()

In [56]:
# inserting element at specific location in the list
my_list.insert(10, 100)

In [64]:
print(my_list)

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 175, 'orange', 3, 'apple', 1]

In [58]:
len(my_list) # list has grown by 1

17

In [59]:
# inserting multiple elements at specific index in a list
list_3 = [1,2,3]

In [60]:
# inserting list_3 between 6 and 7th element
my_list = my_list[:6] + list_3 + my_list[6:]

In [63]:
print(my_list)

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 175, 'orange', 3, 'apple', 1]

In [62]:
len(my_list)

20

### 6. List index()

In [67]:
my_list.index('apple') # though the list has 2 apples it retrieves the 1st apple's index

0

In [68]:
my_list.index(999)

14

### 7. List remove()

In [69]:
my_list.remove(175)

In [70]:
print(my_list) # 175 is removed from the list

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 'orange', 3, 'apple', 1]

### 8. List pop()

In [73]:
# Quickly deletes last element
my_list.pop()

1

In [74]:
print(my_list)

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 'orange', 3, 'apple']

### 9. List copy()

In [75]:
list_copied = my_list.copy()

In [77]:
print(list_copied) # the list is copied into another

['apple', 25, 50, 60, 'string', 99, 1, 2, 3, 20.2, 'a', 30, -25, 100, 999, 'orange', 3, 'apple']

### 10. List clear()

In [79]:
# deletes all the elements from the list at once
list_copied.clear()

In [80]:
print(list_copied)

[]

### 11. List sort()

In [36]:
# Sorting in list is only possible for same data type, Thus creating lists with same data types
my_int_list = [7, 11, 99, -39, 2000, 200]

In [37]:
my_int_list.sort()

In [38]:
print(my_int_list)

[-39, 7, 11, 99, 200, 2000]

In [39]:
my_str_list = ['apple', 'banana', 'orange', 'mango']

In [40]:
my_str_list.sort()

In [41]:
my_str_list

['apple', 'banana', 'mango', 'orange']