# Lambda Function

In [1]:
my_square = lambda x: x*x  # lamda is a special kind of function which is mostly used when the logic is simple.

In [2]:
my_square(9)

81

In [3]:
whole_square = lambda a,b : (a*a + 2*a*b +b*b)

In [4]:
whole_square(13, 17)

900

In [5]:
full_name = lambda fn, ln: fn.strip().title() + " " + ln.strip().title()

In [6]:
full_name("santosh    ", "  kONchadA")

'Santosh Konchada'

In [7]:
cricketers = ["M.S Dhoni", "Sachin R Tendulkar", " Rahul Dravid", "V.V.S Laxman", "Sourav Ganguly", "Rohit Sharma" ]

In [8]:
cricketers.sort(key = lambda name: name.split(" ")[-1].lower())
print(cricketers)                                           # using lambda function to sort names based on last name

['M.S Dhoni', ' Rahul Dravid', 'Sourav Ganguly', 'V.V.S Laxman', 'Rohit Sharma', 'Sachin R Tendulkar']

# Filter Function

In [9]:
my_list = range(0,50)

In [10]:
multiple_5 = filter(lambda x: x%5 == 0, my_list)
list(multiple_5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [11]:
my_dict = [{"langugae": "Python", "functions": "Filter" }] # Filter a list of dictionary

In [12]:
demo_function = filter( lambda x: x["functions"] == "Filter", my_dict)
list(demo_function)

[{'functions': 'Filter', 'langugae': 'Python'}]

In [13]:
function_list = ["", "filter", "map", "reduce", "", "lambda"]

In [14]:
list(filter(None, function_list))

['filter', 'map', 'reduce', 'lambda']

In [15]:
algorithm_list = ["Linear Regression", "Logistic Regression", "K-means clustering", "Random Forests", "Decision Trees"]

In [16]:
Regression_alg = filter(lambda R: R.endswith('Regression'),algorithm_list) # retrieving names from list using filter

In [17]:
list(Regression_alg)

['Linear Regression', 'Logistic Regression']

In [18]:
import statistics

data_points = [7, 11, -13, 22, 17, 37]
average = statistics.mean(data_points)
average

13.5

In [19]:
list(filter(lambda x: x > average, data_points))

[22, 17, 37]

In [20]:
my_list = range(1,100,3)

In [21]:
def odd_num(x):
    return x%2 != 0

In [22]:
odd_list= filter(odd_num, my_list)

In [23]:
list(odd_list)

[1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 85, 91, 97]

# Map Function

In [24]:
even_list = map(lambda x: x+1, my_list)

In [25]:
print(list(even_list))

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

In [26]:
n = [4, 8, 9, 7]

In [27]:
list(map(lambda n: n**2, n))

[16, 64, 81, 49]

In [28]:
import math

In [29]:
def circumference(r):
    return math.pi*2*r

In [30]:
radii = [2.3, 4.7, 5, 6.2]  # calculate circumference of each radius that is provided in the radii list

In [31]:
list(map(circumference, radii))

[14.451326206513047, 29.530970943744055, 31.41592653589793, 38.955748904513435]

In [32]:
my_list2 = range(0, 20, 3)

for ml in map(lambda x: x*x, my_list2):
    print(ml)

0
9
36
81
144
225
324

In [33]:
my_dict2 = [{"tom": 4.5, "John": 5, "Jolly": 3, "James": 3.5}] # Mapping on dictionary

In [34]:
def names(name):
    return name.keys()

In [35]:
names = map(names, my_dict2)

list(names)

[dict_keys(['tom', 'John', 'Jolly', 'James'])]

# Reduce Function

In [36]:
from functools import reduce     # To use the reduce function we need to import it from functools

In [37]:
data = [1, 3, 5,7]

In [38]:
multiplier = lambda x,y : x*y

In [39]:
reduce(multiplier,data)

105

In [40]:
sum_1000 = reduce(lambda x, y : x + y, range(1, 1000))
print(sum_1000)                                                   # sum of numbers from 1 to 1000

499500

In [41]:
my_random_list = [ 291, 320, 77, -33, 49, 888, 104, 49]

In [42]:
max_list = reduce(lambda x, y : x if (x > y) else y, my_random_list)
print(max_list)                                                     # finding maximum value in a list

888